.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}





.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}




.slide-fade-enter-active {
    transition: all 0.8s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}





.slide-fade-reverse-enter-active {
    transition: all 0.8s ease-out;
}

.slide-fade-reverse-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-reverse-enter-from,
.slide-fade-reverse-leave-to {
    transform: translateX(-20px);
    opacity: 0;
}





.slide-down-enter-active {
    transition: all 1.2s ease-out;
}

.slide-down-leave-active {
    transition: all 1.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-down-enter-from,
.slide-down-leave-to {
    transform: translateY(-40px);
    opacity: 0;
}






.slide-up-enter-active {
    transition: all 0.8s ease-out;
}

.slide-up-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-up-enter-from,
.slide-up-leave-to {
    transform: translateY(40px);
    opacity: 0;
}





@keyframes enter {
    from {
      opacity: 0;
      transform: scale(0.8);
    }

    50% {
        transform: scale(1.1);
    }
    
    to {
      opacity: 1 !important;
      transform: scale(1);
    }
}

.list-item-anim {
    animation: 1s enter;
}

@for $i from 1 through 20 {
    .list-item-anim {
        &:nth-child(#{$i}) {
            animation-delay: sqrt($i) * (1s / 5);
        }
    }
}