.cursor-pointer {
    cursor: pointer;
}

html,
body {
    min-height: 90dvh;
}
*::-webkit-scrollbar {
    width: 10px; /* ширина всей полосы прокрутки */
}

*::-webkit-scrollbar-track {
    background: rgb(248, 248, 248);
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px; /* округлось бегунка */
    background-color: rgb(235, 235, 235);
}

video::-webkit-media-controls {
    display: none !important;
    -webkit-appearance: none;
    opacity: 0
}

video::-webkit-media-controls-enclosure {
    display: none !important;
    -webkit-appearance: none;
    opacity: 0
}

video::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none
}

video::--webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none
}

video::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none
}
