.cursor-pointer {
    cursor: pointer;
}

html,
body {
    min-height: 90dvh;
}
*::-webkit-scrollbar {
    width: 10px; /* ширина всей полосы прокрутки */
}

*::-webkit-scrollbar-track {
    background: rgb(248, 248, 248);
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px; /* округлось бегунка */
    background-color: rgb(235, 235, 235);
}
